<div class="page topology">
    {{view App.LeftWidgetBarView}}

    {{view App.View3dView}}

	{{view App.RightWidgetBarView}}


    {{outlet modal}}

    <div id="loader">{{i18n "loadingText"}}</div>
</div>
