<a href="#"  {{ action close }}>{{i18n cancelText}}</a>
<span class="nav-menu-separator"> | </span>
<a href="#"  {{ action close }}>{{i18n clearText}}</a>
<span class="nav-menu-separator"> | </span>
<a href="#"  {{ action close }}>{{i18n applyText}}</a>
