<footer class="unselectable">
    <div class="links">
        <span class="separated-block">
          <a target="_blank" href="http://www.epam.com/" title="{{i18n epamSystems}}">{{i18n epam}}</a><span></span>
        </span>
        <span class="separated-block">
          <a href="#" {{action open 'privacyPolicy'}}>{{i18n privacy_policy}}</a><span></span>
        </span>
        <span>
          <a href="#" {{action open 'about'}}>{{i18n about}}</a>
        </span>
    </div>

    <span class="copyright pull-right">
        <span class="epam-logo">{{i18n epam_lower_case}}</span>
        <span>{{year}} &copy;</span>
    </span>
    
</footer>