<div {{bind-attr class=":widget-content :legend isTabHide:hide"}}>
    <div class="legend-widget-content">
        <div class="legend-item">
            <div class="icon node">&nbsp;</div>
            <div class="label">{{i18n nodeText}}</div>
        </div>
        <div class="legend-item">
            <div class="icon selected-node">&nbsp;</div>
            <div class="label">{{i18n selectedNodeText}}</div>
        </div>
        <div class="legend-item">
            <div class="icon linked-node">&nbsp;</div>
            <div class="label">{{i18n linkedNodeText}}</div>
        </div>
        <div class="legend-item">
            <div class="icon connection">&nbsp;</div>
            <div class="label">{{i18n connectionText}}</div>
        </div>
    </div>	
</div>

